#intro-overlay {
    position: fixed;
    inset: 0;
    background: black;
    z-index: 9999;
    overflow: hidden;
}

.intro-screen {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 2s ease;
}

/* Background images */
.screen1 {
    background-image: url('./images/cthulhu.webp');
}

.screen2 {
    background-image: url('./images/sci.jpg');
}

/* Pulse effect */
.pulse {
    animation: pulseLight 1.5s forwards;
}

@keyframes pulseLight {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}